/* work sens font from google fonts */

  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

  /* shered styles */
* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
    border: 0;
}
.text-light-gray{
    color:#727272;
    /* font-size: 16px;
    font-weight: 400; */
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

/* header styles */
header{
    background-color:rgba(255, 144, 14, 0.10);
    padding: 50px 200px;
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav  ul{
    display: flex;
}
nav  li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 18px;
    
}
nav li a{
    text-decoration: none;
    color: #424242;

}

/* banner styles */
.banner-contant{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;

}
.banner-title{
    font-size: 64px;
    font-weight: 700;
    color: #131313;
}

.banner img{
    width: 100%;
    margin-top: 25px;
}

/* main styles */
main{
    min-width: 1440px;
    margin: 0 auto;
    margin-left: 200px;
}
/* team styles  */
.team-container{
    display: flex;
    align-items: center;
  
    
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.team-contant{
    padding-left:70px ;
    padding-right: 70px;
}
.team-title{
    font-size: 45px;
}
.quick-list{
    color:  #727272;   
    font-weight: 500;
}
.of-our{
    color:  #131313; 
    font-weight: 700;
}
.text-features{
    color: #FF900E;
    font-weight: 700;
}
/* featurea styles section start */



/* features styles section end */


/* facts section styles start */
.facts-card-container{
    display: flex;
    justify-content: space-around;
}
.facts-card-container .card{
    border: 1px solid tomato;
    border-radius: 8px;
    text-align: center;
    padding: 30px;
    margin-top: 5px;
}
.facts-card-container .card-stats{
    font-size: 45px;
    font-weight: 600;
    color: #424242;
    margin-top: 10px ;
    margin-bottom: 10px;
}
.facts-card-container .card-titles{
    font-size: 20px;
    font-weight: 600;
}

/* facts section styles end */








/* responsive media styles */
/* mobile devices */

@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav, 
    .team-container, .facts-card-container {
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: 1fr;
    }
}
/* tablet devics */
@media screen and (min-width:576px) and (max-width:960px) {
    header{
        padding: 50px;
    }
    nav, .team-container {
        flex-direction: column;
    }
}